.fruits{
height:150px;
width:150px;
}
#buttons1{
margin-top:20px;
margin-left:420px;
}
#buttons2{
margin-top:20px;
margin-left:420px;
}
button{
width:10%;
}
span#time {
    float: right;
    margin-top: -83px;
    margin-right: 45px;
    font-size: 25px;
}
span#score {
    float: right;
    margin-top: -53px;
    margin-right: 45px;
    font-size:25px;
}